html body{

  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #f2f3f2;

}
.container {
  width: 100%;
  margin: 0 auto;
}

header {
  background: #f2f3f2;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  width: 100%;
  height: auto;
  padding: 20px 0;
  padding-top: 20px;
  max-width: 150px;
}

.ChatroomBtn{
 position: absolute;
 top:30%;
 left:3%;
 color: black;
 border-radius: 25px;
 background: #ff5460;
 padding: 20px;
 width: 250px;
 height: 100px;
 font-size: 25px;
 border: none;
 cursor: pointer;
 opacity: 1;
 transition: 0.3s;

}

.AskBtn{
 position: absolute;
 top:45%;
 left:3%;
 color: black;
 border-radius: 25px;
 background: #ff5f2c;
 padding: 20px;
 width: 250px;
 height: 100px;
 font-size: 25px;
 border: none;
 cursor: pointer;
 opacity: 1;
 transition: 0.3s;
}

.RaiseHandBtn{
 position: absolute;
 top:60%;
 left:3%;
 color: black;
 border-radius: 25px;
 background: #205d76;
 padding: 20px;
 width: 250px;
 height: 100px;
 font-size: 25px;
 border: none;
 cursor: pointer;
 opacity: 1;
 transition: 0.3s;
}

.HelpBtn{
 position: absolute;
 top:75%;
 left:3%;
 color: black;
 border-radius: 25px;
 background: #62d4d4;
 padding: 20px;
 width: 250px;
 height: 100px;
 font-size: 25px;
 border: none;
 cursor: pointer;
 opacity: 1;
 transition: 0.3s;
}
